/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fifth-section, .sixth-section {
  background-color: #1d4494; 
  
}

/* Contenedor general para cada sección */
.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10vh 16px;
  overflow: hidden;
  background: linear-gradient(#1D4494 ,#068CC5);
}



.section img.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Escala horizontalmente */
  height: 100%; /* Escala verticalmente */
  z-index: 0;
}

/* Fondo oscuro superpuesto */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    closest-side,
    rgba(0, 0, 0, 1) 16.5%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0.6;
  z-index: -1;
}


/* Contenido de texto */
.image-lummi-luminance-dark {
  background: linear-gradient(to left, #b3b3b3, #b3b3b3);
  flex-shrink: 0;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  object-fit: cover;
}

.heading-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading {
  color: #ffffff;
  text-align: center;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
}
.heading-span {
  color: #ffffff;
  font-family: "CodecColdTrial-ExtraBold", sans-serif;
  font-size: 108px;
  line-height: 110%;
  letter-spacing: -0.01em;
  font-weight: 800;
}
.heading-span2 {
  color: #ffffff;
  font-family: "CodecColdTrial-News", sans-serif;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -0.01em;
  font-weight: 400;
}
.copy-component {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  max-width: 800px;
  position: relative;
}
.cta-button {
  background: #1d4494;
  border-radius: 8px;
  margin-top: 7vh;
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  height: 57px;
  max-width: 360px;
  position: relative;
  cursor: pointer;
}
.text-container {
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.cta {
  color: #f7fffb;
  text-align: center;
  font-family: "CodecColdTrial-News", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cta-button:hover {
  background: #163366; /* Color más oscuro al pasar el mouse */
}


.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  max-width: 800px;
}

.heading,
.heading * {
  box-sizing: border-box;
}
.heading {
  color: #ffffff;
  text-align: center;
  font-family: "CodecColdTrial-ExtraBold", sans-serif;
  font-size: 72px;
  line-height: 108%;
  letter-spacing: -0.01em;
  font-weight: 800;
  position: relative;
}

.description,
.description * {
  box-sizing: border-box;
}
.description {
  color: #ffffff;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 24px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}
.description-span7 {
  color: #ffffff;
  font-family: "CodecColdTrial-Light", sans-serif;
  font-size: 24px;
  line-height: 140%;
  font-weight: 300;
}
.description-span8 {
  color: #ffffff;
  font-family: "CodecColdTrial-Regular", sans-serif;
  font-size: 24px;
  line-height: 140%;
  font-weight: 400;
}
.description-span9 {
  color: #ffffff;
  font-family: "CodecColdTrial-Light", sans-serif;
  font-size: 24px;
  line-height: 140%;
  font-weight: 300;
}
.description-span10 {
  color: #ffffff;
  font-family: "CodecColdTrial-Bold", sans-serif;
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
}
.description-span11 {
  color: #ffffff;
  font-family: "Gotham-Light", sans-serif;
  font-size: 24px;
  line-height: 140%;
  font-weight: 300;
}
.description-span12 {
  color: #ffffff;
  font-family: "Gotham-Bold", sans-serif;
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
}


.heading2,
.heading2 * {
  box-sizing: border-box;
}
.heading2 {
  color: #f7fffb;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 56px;
  line-height: 120%;
  font-weight: 400;
  position: relative;
}
.heading2-span4 {
  color: #f7fffb;
  font-family: "CodecColdTrial-ExtraBold", sans-serif;
  font-size: 56px;
  line-height: 120%;
  font-weight: 800;
}
.heading2-span5 {
  color: #f7fffb;
  font-family: "Gotham-Light", sans-serif;
  font-size: 56px;
  line-height: 120%;
  font-weight: 300;
}
.heading2-span6 {
  color: #f7fffb;
  font-family: "CodecColdTrial-News", sans-serif;
  font-size: 56px;
  line-height: 120%;
  font-weight: 400;
}

.subheading,
.subheading * {
  box-sizing: border-box;
}
.subheading {
  color: #e1f0f4;
  text-align: center;
  font-family: "CodecColdTrial-News", sans-serif;
  font-size: 22px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}

.feature-grid,
.feature-grid * {
  box-sizing: border-box;
}
.feature-grid {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  max-width: 1200px;
  position: relative;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 280px;
  max-width: 360px;
  position: relative;
}
.image-lummi {
  border-radius: 32px;
  align-self: stretch;
  flex-shrink: 0;
  height: 224px;
  position: relative;
  object-fit: cover;
}
.copy {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.feature-title {
  color: #f7fffb;
  text-align: center;
  font-family: "CodecColdTrial-News", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.feature-description {
  color: #e1f0f4;
  text-align: center;
  font-family: "CodecColdTrial-Light", sans-serif;
  font-size: 14px;
  line-height: 160%;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
}
.feature-description2 {
  color: #e1f0f4;
  text-align: center;
  font-family: "CodecColdTrial-Light", sans-serif;
  font-size: 14px;
  line-height: 160%;
  font-weight: 300;
  position: relative;
  width: 414px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*fifth section*/


.property-1-simple-form,
.property-1-simple-form * {
  box-sizing: border-box;
}
.property-1-simple-form {
  background: #1d4494;
  padding: 96px 16px 96px 16px;
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 1024px;
  position: relative;
}
.text-content2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.copy2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading3 {
  color: #f7fffb;
  text-align: center;
  font-family: "CodecColdTrial-ExtraBold", sans-serif;
  font-size: 72px;
  line-height: 108%;
  letter-spacing: -0.01em;
  font-weight: 800;
  position: relative;
  align-self: stretch;
}
.description2 {
  color: #f7fffb;
  text-align: center;
  font-family: "CodecColdTrial-News", sans-serif;
  font-size: 22px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
/* Estilo general del contenedor */
.input-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 100%;
  max-width: 520px;
  position: relative;
}

/* Contenedor del input */
.input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  min-width: 230px;
  max-width: 420px;
  position: relative;
}

/* Estilo de la caja que contiene el input */
.input-form {
  background: #2f8ee5;
  border-radius: 8px;
  border: 1px solid #6db3f3;
  padding: 0 16px;
  display: flex;
  align-items: center;
  height: 56px;
  position: relative;
  flex-grow: 1; /* Hace que el input crezca ocupando espacio disponible */
  width: 100%; /* Ancho completo dentro del contenedor */
  max-width: 90%; /* Limita el ancho máximo para pantallas grandes */
}

/* Input real funcional */
.real-input {
  background: none;
  border: none;
  outline: none;
  color: #e1f0f4;
  font-family: "CodecColdTrial-Regular", sans-serif;
  font-size: 14px;
  line-height: 160%;
  font-weight: 400;
  width: 100%;
  height: 100%;
  padding: 0;
}

/* Placeholder automático del input */
.real-input::placeholder {
  color: #e1f0f4;
  opacity: 1; /* Asegura que el texto sea visible */
}

/* Estilo del botón */
.button-combo {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.button {
  background: #2f8ee5;
  border-radius: 8px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  cursor: pointer;
}

.cta2 {
  color: #f7fffb;
  text-align: center;
  font-family: "CodecColdTrial-Bold", sans-serif;
  font-size: 14px;
  line-height: 160%;
  font-weight: 700;
}


/* sixth section */

.type-large-footer-with-divider-and-social-media-links,
.type-large-footer-with-divider-and-social-media-links * {
  box-sizing: border-box;
}
.type-large-footer-with-divider-and-social-media-links {
  background: #1d4494;
  padding: 80px 64px 80px 64px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 864px;
  position: relative;
  overflow: hidden;
}
.brand-name {
  color: #ffffff;
  text-align: left;
  font-family: "CodecColdTrial-News", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.content2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.content3 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading4 {
  color: #ffffff;
  text-align: left;
  font-family: "Gotham-Light", sans-serif;
  font-size: 14px;
  line-height: 160%;
  font-weight: 300;
  position: relative;
  align-self: stretch;
}
.text {
  color: #ffffff;
  text-align: left;
  font-family: "Gotham-Light", sans-serif;
  font-size: 14px;
  line-height: 160%;
  font-weight: 300;
  position: relative;
  align-self: stretch;
}
.heading5 {
  color: #ffffff;
  text-align: left;
  font-family: "CodecColdTrial-Light", sans-serif;
  font-size: 14px;
  line-height: 160%;
  font-weight: 300;
  position: relative;
  align-self: stretch;
}

.credits {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.divider {
  background: #ffffff;
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._2024-brand-name-all-rights-reserved {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 14px;
  line-height: 160%;
  font-weight: 400;
  position: relative;
}
._2024-brand-name-all-rights-reserved-span {
  color: #ffffff;
  font-family: "Gotham-Book", sans-serif;
  font-size: 14px;
  line-height: 160%;
  font-weight: 400;
}
._2024-brand-name-all-rights-reserved-span2 {
  color: #ffffff;
  font-family: "CodecColdTrial-News", sans-serif;
  font-size: 14px;
  line-height: 160%;
  font-weight: 400;
}
.footer-links {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link {
  color: #ffffff;
  text-align: left;
  font-family: "CodecColdTrial-News", sans-serif;
  font-size: 14px;
  line-height: 160%;
  font-weight: 400;
  position: relative;
  cursor: pointer;
}

.fifth-section {
  background: #1d4494; /* Ya está configurado correctamente */
  
}

/* Sixth Section */
.sixth-section {
  background: #1d4494; /* Color de fondo configurado */

}

.cta-button .cta {
  text-decoration: none;
  color: #ffffff; /* Esto asegura que el color del texto se mantenga */
  font-weight: bold; /* Opcional, si quieres resaltar el texto */
}